# test fft {
#   directory docs/examples/hand/fft
#   source FFT.java
# }

test fft-local {
  directory docs/examples/hand/fft
  source FFTLocal.java
}

test fib {
  directory docs/examples/hand/fib
  source Fib.java
}

test fib2 {
  directory docs/examples/hand/fib2
  source Fib2.java
}

test fir {
  directory docs/examples/hand/fir
  make
  source LinkedFirTest.java
}

test flybit {
  directory docs/examples/hand/flybit
  source Flybit.java
}

test hello6 {
  directory docs/examples/hand/hello6
#  output Hello6.out
  source HelloWorld6.java
}

test hello-separate {
  directory docs/examples/hand/hello-separate
  source HelloSeparate.java
}

test peek-pipe {
  directory docs/examples/hand/peek-pipe
  source PeekPipe.java
}

test simple-split {
  directory docs/examples/hand/simple-split
  source SimpleSplit.java
}

test unroll {
  directory docs/examples/hand/unroll
  source Unroll.java
}

test updown {
  directory docs/examples/hand/updown
  source UpDown.java
}
