<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="streamit.eclipse.launcher"
	name = "%pluginName"
	version="1.0.0"
	provider-name = "%providerName"
	class="streamit.eclipse.launcher.StreamItLauncherPlugin">
	
	<requires>
		<import plugin="org.eclipse.ui"/>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.debug.core"/>
		<import plugin="org.eclipse.debug.ui"/>
		<import plugin="org.eclipse.jdt.debug"/>
		<import plugin="org.eclipse.jdt.debug.ui"/>
		<import plugin="org.eclipse.jdt.launching"/>
		<import plugin="org.eclipse.jdt.core"/>
	</requires>
	
	<runtime>
		<library name="launcher.jar"/>
	</runtime>

	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.debug.core.launchConfigurationTypes	-->
	<!-- ================================================================== -->
	<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
		   	id="streamit.eclipse.launcher.localStreamItApplication"
			name="%streamItLauncherName"
			delegate="streamit.eclipse.launcher.StreamItLocalApplicationLaunchConfigurationDelegate"
			modes= "run, debug">
			<fileExtension extension="str" default="true"/>
		</launchConfigurationType>			
	</extension>

	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.debug.core.sourceLocators				-->
	<!-- ================================================================== -->
<!-- 
	<extension point = "org.eclipse.debug.core.sourceLocators">
		<sourceLocator
			id="streamit.eclipse.launcher.javaSourceLocator"
			class="streamit.eclipse.launcher.StreamItUISourceLocator"
			name="%streamItSourceLocator"/>
	</extension>
-->
	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.debug.core.launchConfigurationComparators -->
	<!-- ================================================================== -->

	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.debug.core.statusHandlers				-->
	<!-- ================================================================== -->

	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.debug.ui.launchConfigurationTabGroups -->
	<!-- ================================================================== -->
	<extension point = "org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			id="streamit.eclipse.launcher.launchConfigurationTabGroup.localStreamItApplicationTabGroup"
			type ="streamit.eclipse.launcher.localStreamItApplication"
			class="streamit.eclipse.launcher.LocalStreamItApplicationTabGroup">
		</launchConfigurationTabGroup>
	</extension>

	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.debug.ui.launchConfigurationTypeImages -->
	<!-- ================================================================== -->
<!--	
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			id="streamit.eclipse.launcher.launchConfigurationTypeImage.localStreamItApplication"
			configTypeID="streamit.eclipse.launcher.localStreamItApplication"
			icon="icons/full/ctool16/java_app.gif">
		</launchConfigurationTypeImage>	
	</extension>
-->

	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.debug.ui.launchShortcuts				-->
	<!-- ================================================================== -->
	<extension point = "org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			id="streamit.eclipse.launcher.localStreamItShortcut"
			class="streamit.eclipse.launcher.StreamItApplicationLaunchShortcut"
			label="%StreamItApplicationLaunchShortcut.label"
			icon="icons/full/ctool16/java_app.gif"
			helpContextId="org.eclipse.jdt.debug.ui.shortcut_local_java_application"
			modes="run, debug">
			<perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
			<perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
			<perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
			<perspective id="org.eclipse.debug.ui.DebugPerspective"/>
		</shortcut>
	</extension>

	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.ui.views								-->
	<!-- ================================================================== -->
	<extension point="org.eclipse.ui.views">
		<view
			id="streamit.eclipse.launcher.FilterView"
			name="%displayViewName"
			category="org.eclipse.debug.ui"
		   	icon="icons/full/ctool16/disp_sbook.gif"
		   	class="streamit.eclipse.launcher.FilterView">
		</view>
	</extension>
	
	<!-- ================================================================== -->
	<!-- Extension point: org.eclipse.ui.perspectiveExtensions				-->
	<!-- ================================================================== -->
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.debug.ui.DebugPerspective">
			<view id="streamit.eclipse.launcher.FilterView" 
				relative="org.eclipse.ui.views.TaskList"
				relationship="stack"
				visible="false"/>
		</perspectiveExtension> 
	</extension>
</plugin>