<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="streamit.eclipse.debugger"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="streamit.eclipse.debugger.StreamItDebuggerPlugin">

   <runtime>
      <library name="debugger.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="streamit"/>
      <import plugin="org.eclipse.draw2d"/>
   </requires>


<!-- ================================================================== -->
<!-- Extension point: org.eclipse.debug.core.launchConfigurationTypes	-->
<!-- ================================================================== -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%streamItConfigurationTypeName"
            delegate="streamit.eclipse.debugger.launching.StreamItLocalApplicationLaunchConfigurationDelegate"
            modes="run, debug"
            id="streamit.eclipse.debugger.launching.localStreamItApplication">
         <fileExtension
               default="true"
               extension="str">
         </fileExtension>
      </launchConfigurationType>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.debug.ui.launchConfigurationTabGroups -->
<!-- ================================================================== -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="streamit.eclipse.debugger.launching.localStreamItApplication"
            class="streamit.eclipse.debugger.launching.LocalStreamItApplicationTabGroup"
            id="streamit.eclipse.debugger.launching.launchConfigurationTabGroup.localStreamItApplicationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.debug.ui.launchConfigurationTypeImages -->
<!-- ================================================================== -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			id="streamit.eclipse.debugger.launching.launchConfigurationTypeImage.localStreamItApplication"
			configTypeID="streamit.eclipse.debugger.launching.localStreamItApplication"
			icon="icons/full/ctool16/streamit_app.gif">
		</launchConfigurationTypeImage>	
	</extension>
	
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.debug.ui.launchShortcuts				-->
<!-- ================================================================== -->
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%StreamItApplicationLaunchShortcut.label"
            icon="icons/full/ctool16/streamit_app.gif"
            helpContextId="org.eclipse.jdt.debug.ui.shortcut_local_java_application"
            modes="run, debug"
            class="streamit.eclipse.debugger.launching.StreamItApplicationLaunchShortcut"
            id="streamit.eclipse.debugger.launching.localStreamItShortcut">
         <perspective 
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.ui.views								-->
<!-- ================================================================== -->
   <extension point="org.eclipse.ui.views">
      <view
            name="%filterViewName"
            icon="icons/full/ctool16/disp_sbook.gif"
            category="org.eclipse.debug.ui"
            class="streamit.eclipse.debugger.ui.FilterView"
            id="streamit.eclipse.debugger.ui.FilterView">
      </view>
      <view
            name="%channelViewName"
            icon="icons/full/ctool16/disp_sbook.gif"
            category="org.eclipse.debug.ui"
            class="streamit.eclipse.debugger.ui.ChannelView"
            id="streamit.eclipse.debugger.ui.ChannelView">
      </view>
	  <view
            name="%streamViewName"
            icon="icons/full/ctool16/streamit_app.gif"
            category="org.eclipse.debug.ui"
            class="streamit.eclipse.debugger.graph.StreamView"
            id="streamit.eclipse.debugger.graph.StreamView">
      </view>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.ui.perspectiveExtensions				-->
<!-- ================================================================== -->
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.ui.views.TaskList"
               visible="false"
               relationship="stack"
               id="streamit.eclipse.debugger.ui.FilterView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.ui.views.TaskList"
               visible="false"
               relationship="stack"
               id="streamit.eclipse.debugger.core.ChannelView">
         </view>
      </perspectiveExtension>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.ui.editors                            -->
<!-- ================================================================== -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%streamItEditorName"
            icon="icons/obj16/java.gif"
            extensions="str"
            contributorClass="streamit.eclipse.debugger.texteditor.StreamItEditorActionContributor"
            class="streamit.eclipse.debugger.texteditor.StreamItEditor"
            id="streamit.eclipse.debugger.texteditor.StreamItEditor">
      </editor>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.ui.preferencePages                    -->
<!-- ================================================================== -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%streamItPreferencePage"
            class="streamit.eclipse.debugger.texteditor.StreamItEditorPreferencePage"
            id="streamit.eclipse.debugger.texteditor.Page1">
      </page>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.ui.documentProviders                   -->
<!-- ================================================================== -->
   <extension
         point="org.eclipse.ui.documentProviders">
      <provider
            extensions="str"
            class="streamit.eclipse.debugger.texteditor.StreamItDocumentProvider"
            id="streamit.eclipse.debugger.texteditor.StreamItDocumentProvider">
      </provider>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.ui.popupMenus			                -->
<!-- ================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#StreamItRulerContext"
            id="streamit.eclipse.debugger.texteditor.StreamItEditorPopupActions">
         <action
               label="%StreamItBreakpointProperties.label"
               class="streamit.eclipse.debugger.actions.StreamItBreakpointPropertiesRulerActionDelegate"
               menubarPath="debug"
               id="streamit.eclipse.debugger.actions.StreamItBreakpointPropertiesRulerActionDelegate">
         </action>
         <action
               label="%AddWatchpoint.label"
               class="streamit.eclipse.debugger.actions.ManageWatchpointRulerActionDelegate"
               menubarPath="debug"
               id="streamit.eclipse.debugger.actions.ManageWatchpointRulerActionDelegate">
         </action>
         <action
               label="%AddMethodBreakpoint.label"
               class="streamit.eclipse.debugger.actions.ManageMethodBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="streamit.eclipse.debugger.actions.ManageMethodBreakpointRulerActionDelegate">
         </action>
         <action
               label="%EnableBreakpoint.label"
               class="streamit.eclipse.debugger.actions.EnableDisableBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="streamit.eclipse.debugger.actions.EnableDisableBreakpointRulerActionDelegate">
         </action>
         <action
               label="%AddBreakpoint.label"
               class="streamit.eclipse.debugger.actions.ManageBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="streamit.eclipse.debugger.actions.ManageBreakpointRulerActionDelegate">
         </action>
         <action
               label="%AddTask.label"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               tooltip="%AddTask.tooltip"
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               tooltip="%AddBookmark.tooltip"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </viewerContribution>
   </extension>
   
<!-- ================================================================== -->
<!-- Extension point: org.eclipse.ui.editorActions  	                -->
<!-- ================================================================== -->
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="streamit.eclipse.debugger.StreamItEditor.BreakpointRulerActions"
			targetID="streamit.eclipse.debugger.texteditor.StreamItEditor">
			<action
		    	id="streamit.eclipse.debugger.actions.ManageBreakpointRulerAction"
				actionID="RulerDoubleClick"
				label="%Dummy.label"
				class="streamit.eclipse.debugger.actions.ManageBreakpointRulerActionDelegate">
			</action>
		</editorContribution>
	</extension>

<!-- ================================================================== -->
<!-- Extension point: org.eclipse.ui.actionSets			                -->
<!-- ================================================================== -->
     <!--
<extension point="org.eclipse.ui.actionSets">
	<actionSet 
		label="%StreamItDebugActionSet.label" 
		visible="false" 
		id="streamit.eclipse.debugger.ui.StreamItDebugActionSet">
	<menu
        label="%StreamItMenu.label"
        id="streamit.eclipse.debugger.ui.run"
		path="additions">
        <separator name="breakpointGroup"/>
     </menu>

        <action id="streamit.eclipse.debugger.actions.ManageWatchpointAction"
        	definitionId="streamit.eclipse.debugger.actions.ManageWatchpointAction"
  			label="%ManageWatchpointAction.label"
  			icon="icons/full/obj16/readwrite_obj.gif"
  			helpContextId="manage_watchpoint_action_context"
  			class="streamit.eclipse.debugger.actions.ManageWatchpointActionDelegate"
  			menubarPath="streamit.eclipse.debugger.ui.run/breakpointGroup">
  			<enablement>
  				<or>
	             	<objectClass name="org.eclipse.jface.text.ITextSelection"/>
            		<objectClass name="org.eclipse.jdt.core.IField"/>
            		<objectClass name="org.eclipse.jdt.debug.core.IJavaFieldVariable"/>
            	</or>
            </enablement>
        </action>
      	<action id="streamit.eclipse.debugger.actions.ManageMethodBreakpointAction"
	      	definitionId="streamit.eclipse.debugger.actions.ManageMethodBreakpointAction"
  			label="%ManageMethodBreakpointAction.label"
  			icon="icons/full/obj16/brkpi_obj.gif"
  			helpContextId="manage_method_breakpoint_action_context"
  			class="streamit.eclipse.debugger.actions.ManageMethodBreakpointActionDelegate"
  			menubarPath="streamit.eclipse.debugger.ui.run/breakpointGroup">
  			<enablement>
  				<or>
	         		<objectClass name="org.eclipse.jface.text.ITextSelection"/>
	            	<objectClass name="org.eclipse.jdt.core.IMethod"/>
	            </or>
			</enablement>
  	    </action>

      	<action id="streamit.eclipse.debugger.actions.ManageBreakpointAction"
      		definitionId="streamit.eclipse.debugger.actions.ManageBreakpointAction"
  			label="%ManageBreakpointAction.label"
  			icon="icons/full/obj16/brkpi_obj.gif"
  			helpContextId="manage_breakpoint_action_context"
  			class="streamit.eclipse.debugger.actions.ManageBreakpointActionDelegate"
  			menubarPath="streamit.eclipse.debugger.ui.run/breakpointGroup">
  	    </action>

   </actionSet>
</extension>
  	   --> 

</plugin>
